*.pydevproject
.metadata
.gradle
bin/
tmp/
out/
docs/api/
*.zip
*.tmp
*.bak
*.swp
*~.nib
*.log
*.aux
*.toc
*.out
Crystal
build
data
data/*
*.xml

local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# IntelliJ IDEA specific
.idea
*.iml
