h1 {
    text-align: center;
}

body {
    max-width: 800px;
    margin: 0 auto 0 auto;
}

code {
    background-color: #DDD;
    border-radius: 2px;
    padding: 0px;
    font-family: "Monospaced";
    font-size: 14px;
}