h1 {
    text-align: center;
}

body {
    max-width: 800px;
    margin: 0 auto 0 auto;
}

code {
    background-color: #DDD;
    border-radius: 2px;
    padding: 0px;
    font-family: "Monospaced";
    font-size: 14px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
	width: 100%;
}

table {
    border-collapse: collapse;
}

th, td {
	border: 1px solid black;
}

li {
    padding-left: 4px;
}

span.new, li.new {
    padding-left: 2px;
    border-left: 2px solid rgb(0, 180, 0);
}